<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'header.html' %}
  <article>
    <img caption="The Flood is Coming" src="/static/images/Flood_Heron.png">
    <section>
      <p>
        The Flood is an online publication that sits at the confluence of radical
        politics and spirituality.
      </p>
      <p>
        To understand what we're about, read some of our previously published
        articles, especially those from our editors.
      </p>
      <p>
        The Flood is for anyone who feels their religious or spiritual beliefs
        call for direct action in the pursuit of social justice. It's for anyone
        who has struggled with political engagement and come to believe that the
        kind of structural and systemic transformation we need is so
        all-encompassing that it is unavoidably spiritual in nature.
      </p>
      <p>
        In particular we hope to wrestle with the implications of global warming.
        What is in store as current political and spiritual crises are accelerated
        by catastrophic climate change? How do we reckon with loss on such an
        unimaginable scale? Could spiritual transformation help to bring about a
        social movement powerful enough to combat capitalism's suicidal demand
        for perpetual growth on a finite planet?
      </p>
      <p>
        Histories of spirituality and social movements are inseparable.
        Experiences of the sublime bump up against the mechanisms of the state,
        bureaucracy meets intimacy, and the mundane is disrupted by jubilation.
        The Flood explores this ongoing relationship and asks: as the waters
        rise, how can we help each other stay afloat?
      </p>
    </section>
  </article>
</body>
</html>
