<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
</head>
<body>
  {% include 'header.html' %}
  <article>
    <section>
      <p>The Flood is an online publication that sits at the confluence of radical politics and rooted spirituality. Founded by a collective of young writers who met at the New York Catholic Worker, The Flood began as a conversation amid the daily tasks of running the NYCW houses of hospitality—serving soup, distributing clothing, and caring for the sick and elderly. We hope to expand this conversation to anyone who feels their religion or spiritual practice leads them to cry out for uncompromising equality.
      </p>
      <p>
        We believe the evils of racism and sexism must be rooted out, and that structures of capitalism and militarism must be done away with entirely if we are ever to recognize the inherent worth in all living things. We believe that homophobic and patriarchal attitudes keep us distant from one another, working to uphold the status quo and leaving us isolated, alienated, and unable to effectively organize. We believe that spiritual practice offers a path forward.
      </p>
      <p>
        Histories of spirituality and social movements are inseparable. Experiences of the sublime bump up against the mechanisms of the state, bureaucracy meets intimacy, and the mundane is disrupted by jubilation. The Flood explores this ongoing relationship and asks: <span class="emphasis"> as the waters rise, how can we help each other stay afloat?</span>
      </p>
      <p class="disclaimer-info">
        The Flood does not reflect the views of the NYCW, nor do we write from a specifically or uniquely Catholic point of view. Our influences and inspirations span a wide spectrum of spiritual and political traditions, including ecofeminism, anarchism, left Irish Republicanism, communal egalitarianism, Jewish and Islamic mysticism, Dharmic religions, animism, and a variety of Indigenous community structures and faiths.
      </p>
    </section>
  </article>
</body>
</html>
