<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='archive.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'header.html' %}
  {% if not articles %}
    <p>
      The article list is empty.
    </p>
  {% else %}
    <section class="main">
      {% for article in articles %}
        <article class="clearfix">
          <a href="{{url_for('showArticle', article_id=article.id, url_desc=article.url_desc)}}">
            {% if images[article.id] %}
              <section class="imageAndCaption">
                <img class="article-image" alt="{{article.title}}" src="{{images[article.id].resource_location}}">
                <p class="caption">{{images[article.id].caption}}</p>
              </section>
            {% endif %}
            <section class="text">
              <h2>{{article.title}}</h2>
              {% if article.subtitle %}
                <h3>{{article.subtitle}}</h3>
              {% endif %}
              <p class="authorAndDate">
                {% if authors[article.id] %}
                  By {% for author in authors[article.id] %}
                    {{author.name}} \
                  {% endfor %}
                {% endif %}
                {{article.publish_date}}
              </p>
              <section>
                {% if article.lead %}
                  {{article.lead|safe}}
                {% else %}
                  {{' '.join(article.html_text.split()[:100])|safe}}...</p>
                {% endif %}
              </section>
            </section>
          </a>
        </article>
      {% endfor %}
    </section>
  {% endif %}
</body>
</html>
