<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
  <base target="_blank">
</head>
<body>
  {% include 'header.html' %}
  <article>
    {% if image %}
      <section class="header-image">
        <img alt="{{article.title}}" src="{{image[6]}}">
        <span class="caption">{{image[5]}}</span>
      </section>
      {% endif %}
    <section class="text">
      <h1>{{article.title}}</h1>
      {% if article.subtitle %}
        <h2>{{article.subtitle}}</h2>
      {% endif %}
      <h3 class="authorAndDate">
        {% if article.authors %}
          By
          {% for author in article.authors %}
            {{author.name}} \
          {% endfor %}
        {% endif %}
        {{article.publishDate}}
      </h3>
      {% if article.id == 24 %}
      <section class="text">
        {{article.htmlText|safe}}
      </section>
      {% endif %}
      {% if otherFiles %}
        <section class="article-image">
          {% for file in otherFiles %}
            {% if file[3] == 'audio' %}
            <audio controls>
              <source src="{{file[6]}}" type="audio/wav">
              <source src="{{file[6]}}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            {% else %}
              <img alt="{{file[1]}}" src="{{file[6]}}">
            {% endif %}
            <span class="caption">{{file[5]}}</span>
          {% endfor %}
        </section
        <p></p>
      {% endif %}
      {% if article.id != 24 %}
        <section class="text">
          {{article.htmlText|safe}}
        </section>
      {% endif %}
      <section>
        {% if article.authors %}
          {% for author in article.authors %}
            <p class="bio">{{author.bio|safe}}</p>
          {% endfor %}
        {% endif %}
      </section>
    </section>
  </article>
</body>
</html>
