<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
  <base target="_blank">
</head>
<body>
  {% include 'header.html' %}
  <article>
    {% if article.titleImage %}
    <section class="header-image">
      <img alt="{{article.title}}" src="{{article.titleImage.resourceLocation}}">
      <span class="caption">{{article.titleImage.caption}}</span>
    </section>
    {% endif %}
    <section class="content">
      <h1>{{article.title}}</h1>
      {% if article.subtitle %}
      <h2>{{article.subtitle}}</h2>
      {% endif %}
      <h3 class="authorAndDate">
      {% if article.authors %}
      By
        {% for author in article.authors %}
        {{author.name}} \
        {% endfor %}
      {% endif %}
      {{article.publishDate}}
      </h3>
      {% if article.id == 24 %}
      <section class="text">
        {{article.htmlText|safe}}
      </section>
      {% endif %}
      {% if article.nontitleImages %}
      <section class="article-image">
        {% for image in article.nontitleImages %}
        <img alt="{{image.name}}" src="{{image.resourceLocation}}">
        <span class="caption">{{image.caption}}</span>
        {% endfor %}
      </section>
      <p></p>
      {% endif %}
      {% if article.audioFile%}
      <section class="article-image">
        <audio controls>
          <source src="{{article.audioFile.resourceLocation}}" type="audio/wav">
          <source src="{{article.audioFile.resourceLocation}}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </section>
      {% endif %}
      {% if article.id != 24 %}
      <section class="text">
        {{article.htmlText|safe}}
      </section>
      {% endif %}
      <section>
      {% if article.authors %}
        {% for author in article.authors %}
        <p class="bio">{{author.bio|safe}}</p>
        {% endfor %}
      {% endif %}
      </section>
    </section>
  </article>
</body>
</html>
