<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'editHeader.html' %}
  <article>
    {% if image %}
      <section class="header-image">
        <img alt="{{article[1]}}" src="{{image[6]}}">
        <span class="caption">{{image[5]}}</span>
      </section>
    {% endif %}
    <section class="text">
      <h1>{{article[1]}}</h1>
      {% if article[2] %}
        <h2>{{article[2]}}</h2>
      {% endif %}
      {% if article[0] %}
        <h3>ID: {{article[0]}}</h3>
      {% else %}
        <h3>New Article</h3>
      {% endif %}
      <h3 class="authorAndDate">
        {% if authors %}
          By
          {% for author in authors %}
            {{author[1]}} \
          {% endfor %}
        {% endif %}
        {% if article[3] %}
          First published on {{article[3]}}
        {% endif %}
        {% if other_images %}
          <section class="article-image">
            {% for img in other_images %}
              <img alt="{{img[5]}}" src="{{img[6]}}">
            {% endfor %}
          </section
          <p></p>
        {% endif %}
      </h3>
      <section class="text">
        <form action="#" method="post">
          <label>Title</label>
          <input type='text' size='50' name='title' value='{{article[1]}}'>
          <label>Is on home page</label>
          {% if article[7] %}
            <input type='checkbox' name='on_home' checked>
          {% else %}
            <input type='checkbox' name='on_home'>
          {% endif %}
          <label>Is featured</label>
          {% if article[8] %}
            <input type='checkbox' name='featured' checked>
          {% else %}
            <input type='checkbox' name='featured'>
          {% endif %}
          <label>Subtitle</label>
          <input type='text' size='50' name='subtitle' value='{{article[2]}}'>
          <label>Authors</label>
          <select name='authors' size='5' multiple>
            {% for author in allAuthors %}
              {% if author in authors %}
                <option value='{{author[0]}}' selected>{{author[1]}}</option>
              {% else %}
                <option value='{{author[0]}}'>{{author[1]}}</option>
              {% endif %}
            {% endfor %}
          </option>
          <label>Issue</label>
          <input type='number' name='issue' value='{{article[4]}}'>
          <label>Priority</label>
          <input type='number' name='priority' value='{{article[9]}}'>
          {% if article[6] %}
            <textarea rows='50' cols='100' name='html_text'>{{article[6]}}</textarea>
          {% else %}
            <textarea rows='10' cols='100' name='html_text'></textarea>
          {% endif %}
          <label>Lead in</label>
          {% if article[10] %}
            <textarea rows='10' cols='100' name='lead'>{{article[10]}}</textarea>
          {% else %}
            <textarea rows='10' cols='100' name='lead'></textarea>
          {% endif %}
          To inlcude special formatting elements, use the following syntax:
          <ul>
            <li>
              <p>
                {% raw %}
                  For a pull quote, use a new paragraph and type
                  {{pull: "Your quote"}}, including the squiggly lines
                  and quotes--make sure this is its own paragraph
                {% endraw %}
              </p>
            </li>
            <li>
              <p>
                {% raw %}
                  For an footnote, immediately after the word or punctuation it
                  should appear (no spaces or new lines), use
                  {{foot: "Your footnote"}}--this should be within a paragraph
                {% endraw %}
              </p>
            </li>
          </ul>
          <label>Authors</label>
          <!-- TODO: add authors, upload photos, etc -->
          <input type='submit' value='Save and View'>
          <a href="{{url_for('showEditorHome')}}">Cancel</a>
          <a <a href="{{url_for('editArticle', article_id=article[0], editor='editor')}}">Go back to formatted editor text (changes will be discarded)</a>
        </form>
      </section>
    </p>
  </article>
</body>
</html>
