<!DOCTYPE html>
  <header>
    <a href={{url_for('showHome')}} class="header-title">
      <img alt="The Flood" src="/static/images/header.png">
    </a>
    <ul class="nav-bar">
      <li><a href={{url_for('showHome')}}>Home</a></li>
      <li><a href="{{url_for('showEditorHome')}}">Edit Articles</a></li>
      <li><a href="{{url_for('newArticle')}}">New Article</a></li>
      <li><a href="{{url_for('editAuthorsHome')}}">Edit Authors</a></li>
      <li><a href="{{url_for('newAuthor')}}">New Author</a></li>
    </ul>
  </header>
