<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='article.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'editHeader.html' %}
  <article>
    <section class="text">
      <form action="#" method="post">
        <label>Name</label>
        <input type='text' size='50' name='name' value='{{author[1]}}'>
        <label>Description</label>
        <textarea rows='10' cols='100' name='bio'>{{author[2]}}</textarea>
        <input type='submit' value='Save and View'>
        <a href="{{url_for('editAuthorsHome')}}">Cancel</a>
      </form>
    </section>
  </article>
</body>
</html>
