<!DOCTYPE html>
  <header>
    <a href={{url_for('showHome')}} class="header-title">
      <img alt="The Flood" src="/static/images/header.png">
    </a>
    <ul class="nav-bar">
      <li class="home-li"><a href={{url_for('showHome')}}>Home</a></li>
      <li class="archive-li"><a href={{url_for('showArchive')}}>Archive</a></li>
      <li class="contact-li"><a href={{url_for('showContact')}}>Contact</a></li>
      <li class="submissions-li"><a href={{url_for('showSubmissions')}}>Submissions</a></li>
      <li class="about-li"><a href={{url_for('showAbout')}}>About</a></li>
      <li class="subscribe-li"><a href={{url_for('showSubscribe')}}>Subscribe</a></li>
      <li class="donate-li">
        <a href="https://www.patreon.com/thefloodmag" target="_blank">Donate</a>
      </li>
    </ul>
  </header>
