<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'header.html' %}
  {% if not articles %}
    <p>
      The article list is empty.
    </p>
  {% else %}
    <section class="main">
      {% set count = [0] %}
      {% for article in articles %}
        {% if article[8] %}
          <article class="featured">
        {% else %}
          {% if count.append(count.pop() + 1) %}{% endif %}
          {% if count[0] % 2 == 1 %}
            <article class="clear">
          {% else %}
            <article>
          {% endif %}
        {% endif %}
          <a href="{{url_for('showArticle', article_id=article[0], url_desc=article[5])}}">
            {% if images[article[0]] %}
              <img class="article-image" alt="{{article[1]}}" src="{{images[article[0]][6]}}">
              <p class="caption">{{images[article[0]][5]}}</p>
            {% endif %}
            <section class="text">
              <h2>{{article[1]}}</h2>
              {% if article[2] %}
                <h3>{{article[2]}}</h3>
              {% endif %}
              <p class="authorAndDate">
                {% if authors[article[0]] %}
                  By
                  {% for author in authors[article[0]] %}
                    {{author[1]}} \
                  {% endfor %}
                {% endif %}
                {{article[3]}}
              </p>
              <section>
                {% if article[10] %}
                  {{article[10]|safe}}
                {% elif article[8] %}
                  {{' '.join(article[6].split()[:90])|safe}}...</p>
                {% else %}
                  {{' '.join(article[6].split()[:50])|safe}}...</p>
                {% endif %}
              </section>
            </section>
          </a>
        </article>
      {% endfor %}
    {% endif %}
  </section>
</body>
</html>
