<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
</head>
<body>
  {% include 'header.html' %}
  {% if not articles %}
    <p>
      The article list is empty.
    </p>
  {% else %}
    <section class="main">
      {% set count = [0] %}
      {% for article in articles %}
        {% if article.featured %}
          <article class="featured">
        {% else %}
          {% if count.append(count.pop() + 1) %}{% endif %}
          {% if count[0] % 2 == 1 %}
            <article class="clear">
          {% else %}
            <article>
          {% endif %}
        {% endif %}
          <a href="{{url_for('showArticle', article_id=article.id, url_desc=article.url_desc)}}">
            {% if images[article.id] %}
              <img class="article-image" alt="{{article.title}}" src="{{images[article.id].resource_location}}">
              <p class="caption">{{images[article.id].caption}}</p>
            {% endif %}
            <section class="text">
              <h2>{{article.title}}</h2>
              {% if article.subtitle %}
                <h3>{{article.subtitle}}</h3>
              {% endif %}
              <p class="authorAndDate">
                {% if authors[article.id] %}
                  By
                  {% for author in authors[article.id] %}
                    {{author.name}} \
                  {% endfor %}
                {% endif %}
                {{article.publish_date}}
              </p>
              <section>
                {% if article.featured %}
                  {{' '.join(article.html_text.split()[:90])|safe}}...
                {% else %}
                  {{' '.join(article.html_text.split()[:50])|safe}}...
                {% endif %}
              </section>
            </section>
          </a>
        </article>
      {% endfor %}
    {% endif %}
  </section>
</body>
</html>
