<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='contact.css')}}"> -->
  <link rel="icon" href="/static/images/Flood_Heron.png">
</head>
<body>
  {% include 'header.html' %}
  <article>
    <section class="main">
      {% for address in emailList %}
        {{address.name}} -- {{address.email_address}}
      {% endfor %}
    </section>
  </article>
</body>
</html>
