<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Flood</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='submissions.css')}}">
</head>
<body>
  {% include 'header.html' %}
  <article>
    <img caption="The Flood is Coming" src="/static/images/Flood_Heron.png">
    <section class="main">
      <p class="submissions-paragraph">
        The Flood is currently accepting submissions - <span class="emphasis">essays, analysis, event coverage, memoir, reviews, criticism, interviews, photo essays, and other relevant material</span>. We give priority to pieces from people of color, trans and queer people, people of non-Christian faith traditions and backgrounds (including atheists and agnostics) and women. We value writing informed by personal experiences with spirituality - untethered from the secular-religious binary - and radical political thought and action. We’re interested in universal experiences of the vast and unknowable leading people to the most particular of convictions.
      </p>
      <p class="submissions-paragraph">
        The Flood invites writers of all
        backgrounds to explore the religious implications of political realities
        and vice versa. Some examples of what we’re interested in include:
      </p>
      <ul class="submissions-paragraph">
        <li>spiritual life inside the prison industrial complex</li>
        <li>Indigenous resistance to neoliberal development projects</li>
        <li>rural US church groups witnessing against drone warfare</li>
        <li>arguments for universal basic income based on Qur’anic teaching</li>
        <li>places of worship offering sanctuary to undocumented immigrants</li>
        <li>the personal realities and challenges of administering the biblical
          Works of Mercy</li>
        <li>everyday life as a queer person of faith in the South</li>
        <li>African American church congregations debating how to respond to
          police violence</li>
        <li>Rabbis decrying occupation and militarism in the Holy Land</li>
        <li>Tibetan Buddhists resisting colonialism</li>
        <li>interfaith responses to the climate crisis</li>
        <li>agnostic experiences of God</li>
        <li>atheist spirituality</li>
      </ul>
      <p class="submissions-paragraph email-para">
        Send all pitches and submissions to
        <a class="thefloodemail" href="mailto:thefloodmag@gmail.com">
          TheFloodmag@gmail.com</a>.
      </p>
      <p class="disclaimer-info">
        We are not currently seeking to publish poetry or previously published submissions.
      </p>
    </section>
  </article>
</body>
</html>
